// Class Names
@containerClassName: container;
@rowClassName: row;
@colClassName: col;
@sep: ~"-";

// Columns
@columns: 12;

@colPrefixes:  xs,        sm,        md,        lg;
@colBreakMin: false,     768px,     992px,     1280px;
@colBreakMax: 767px,     991px,     1279px,    false;
@colMaxWidth: 460px,     750px,     970px,     1170px;
@colPaddings: 10px,      20px,      30px,      40px;


// Add auto and reverse class for every prefix
// They will work only for specific screens
// ------------------------------------
// Add .col-XX-auto
@addColAutoForPrefixes: false;
// Add .col-XX-reverse
@addColReverseForPrefixes: false;
